.coverStory {
  position: relative;
  background-image: url(../../assets/coverStory.png);
  background-size: cover;
}

.affiliation-wide {
  margin: 80px 0;
}

.affiliation-wide h1 {
  margin-bottom: 40px;
}
